.DS_Store
.svn
*/.svn/*
Android/Torch/bin/resources.ap_

Android/Torch/bin/nl/debree/phonegap/plugin/torch/TorchPlugin.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/TorchPhoneGapPluginActivity.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/Torch.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R$xml.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R$string.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R$layout.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R$drawable.class

Android/Torch/bin/nl/debree/phonegap/plugin/torch/R$attr.class

Android/Torch/bin/classes.dex

Android/Torch/bin/TorchPhoneGapPlugin.apk

Android/Torch/gen/nl/debree/phonegap/plugin/torch/R.java
