<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.phonegap.plugins.bonjourplugin"
  version="0.1.0">
  
  <name>Bonjour Plugin</name>
  
  <asset src="www/BonjourPlugin.js" target="BonjourPlugin.js" />
  
  <!-- ios -->
  <platform name="ios">
    <plugins-plist key="BonjourPlugin" string="BonjourPlugin" />
    
    <header-file src="BonjourPlugin.h" />
    
    <source-file src="BonjourPlugin.m" />
  </platform>
</plugin>
